/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****** Main ********/

body {
	font-size:62.5%;
	font-family: 'Arial', sans-serif;
	color:#FFF;
	font-weight: 100;
	-webkit-font-smoothing:antialiased
}
h1 {
	font-size:7em;
	padding:1.7em 0 0 0;
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: lowercase;
	font-weight: 100;
	-webkit-font-smoothing:antialiased
}
h2 {
	font-size:6em;
	padding:0.5em 0 0.5em 0;
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: lowercase;
	font-weight: 100;
	-webkit-font-smoothing:antialiased
}
h3 {
	font-size:2.3em;
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: lowercase;
	font-weight: 100;
	-webkit-font-smoothing:antialiased
}

p {
	font-size:1.9em;
	/*padding:0.4em 0 0.4em 0;*/
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 100;
	text-transform: lowercase;
	-webkit-font-smoothing:antialiased
}

#skills-list {
	margin: 0 auto;
	font-size:1.5em;
	/*padding:0.4em 0 0.4em 0;*/
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 100;
	list-style: none;
	text-align: left;
	width: 70%;
}

small {
	font-size: 0.4em;
}

#skills-list-small {
	font-size: 0.7em;
	text-indent: 5%;
}

a:link,
a:visited {
	color:gold;
	text-decoration:none;
}
a:hover,
a:focus,
a:active {
	color: #FFF;
}
a.twitter:link,
a.twitter:visited {
	font-size:1.3em;
	line-height:4em;
	position:absolute;
	left:40px;
	bottom:25px;
}
a.twitter img {
	border-radius:50%;
	float:left;
	border:1px solid #bbb;
	padding:0.1em;
	background:#FFF;
}
a.twitter span {
	padding:0 0 0 0.6em;
}

#tweet-me {
		font-family:'Source Sans Pro', sans-serif;
}
header {
	padding-bottom:5em;
}
.scroll {
	position:relative;
	font-size:1.3em;
	margin-top:6em;
	display:inline-block;

}

#scroll-text {
		font-family:'Source Sans Pro', sans-serif;
		text-transform: lowercase;
}
.scroll:hover {
	text-decoration:none;
}

.scroll:after {
	content:'';
	width:40px;
	height:40px;
	position:absolute;
	top:40px;
	margin:auto;
	top:50px;
	right:0;
	bottom:0;
	left:0;
	-webkit-animation:3s arrow infinite ease;
	animation:3s arrow infinite ease;
}

.scroll:after {
	border-right:2px solid #FFF;
	border-bottom:2px solid #FFF;
	-ms-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
	
}
.tagline {

	font-size: 14px;
	padding: 10px;
	color: gold;
	text-transform: lowercase;

}
.fa-github,
.fa-linkedin,
.fa-envelope,
.fa-twitter,
.fa-soundcloud {
	padding: 10px;
	color: gold;

}
.panel {
	height:100vh;
	border-bottom:1px solid #666;
}
.home {
	background: #000000;
	text-align:center;
}
.about {
	background: #323232;


}
.skills {
	background: #666666;
}
.philosophy {
	background: #999999;
}
.projects {
	background: #b2b2b2;

}
.contact {
	background:#cccccc;

}
.inner {
	width:960px;
	margin:0 auto;
}

.inner-content {

    margin: auto;
    width: 50%;
    padding: 35px;
    text-align: center;
    margin-top: 5%;
    font-size: 1.7em;
}

pre {
	background:rgba(0,0,0,0.2);
	padding:2em 0 2em 0;
	font-size:2.1em;
	margin-top:0.7em;
}
@-webkit-keyframes arrow {
	0%,100% {
		top:50px;
	}
	50% {
		top:80px;
	}
}
@keyframes arrow {
	0%,100% {
		top:50px;
	}
	50% {
		top:80px;
	}
}
@media (max-width:960px) {
	.inner {
		width:100%;

	}
	h1,h2,h3,p,pre,dl {
		margin-left:30px;
		margin-right:30px;
	}
}

@font-face {
  font-family: 'HelveticaNeue-UltraLight';
  src: url('/public/fonts/HelveticaNeue-UltraLight.eot');
  src: url('/public/fonts/HelveticaNeue-UltraLight.eot?#iefix') format('embedded-opentype'), url('/public/fonts/HelveticaNeue-UltraLight.woff') format('woff'), url('/public/fonts/HelveticaNeue-UltraLight.ttf') format('truetype'), url('/public/fonts/HelveticaNeue-UltraLight.svg#HelveticaNeueUltraLight') format('svg');
  font-style: normal;
  font-weight: 100; }

/*  iPhone 5 & 6*/

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
	.inner-content {
		width: 95%;
		font-size: 1.3em;
		padding: 0;
		text-align: left;
	}
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
	.inner-content {
		width: 95%;
		font-size: 1.3em;
		padding: 0;
		text-align: left;
	}

	.scroll {
		margin-left: 20%;
		margin-bottom: 80%;
	}
	.twitter {
		margin-top: 20%;
	}
}

/*media queries*/

@media only screen 
and (min-width : 801px) {
	.inner-content:hover { 
		background: rgba(255,215,0,0.7);
		color: rgba(0,0,0,1);
		border-radius: 25px;
		border-style: solid;
		border-width: 2px;
		border-color: rgba(255,255,255, 1);
	}
}